.tab{
    @apply flex relative justify-center pt-[140px] w-full;
}

.tabItemContent{
    width: calc(100% - 250px);
}

.tabItemTop {
    @apply min-w-[250px] bg-secondary bg-opacity-35 h-auto flex items-center justify-center relative rounded-l-md right-[-5px];
}

@media(max-width: 768px){
    .tabItemContent {
        @apply w-full;
    }
    .tabItemTop {
        @apply hidden;
    }
}

/* Tab buttons */

.tabButtons{
    @apply w-full flex bg-tertiary z-10;
}

.tabButton{
    font-size:  clamp(18px, 1vw, 22px);
    transition: .5s ease all;
    @apply flex-1 flex justify-center items-center text-center min-h-[55px] text-white border;
}

.tabButton:hover,
.tabButtonActive{
    @apply bg-secondary;
}

@media(max-width: 768px){
    .tabButtons{
        @apply flex-col relative;
    }
    .tabButton{
        @apply border-l-0 border-r-0;
    }
    .tabButton:first-child,
    .tabButton:last-child{
        @apply border-l-0 border-r-0;
    }
    .tabButton:nth-child(odd){
        @apply border-l-0 ;
    }
}

/* Tab content */
.tabContent{
    @apply relative overflow-auto;
}

.tabContentTitle{
    font-size: clamp(25px, 3vw, 50px);
    @apply text-white text-center my-[60px];
}

.tabContentHeadItem{
    @apply bg-secondary min-h-[50px];
}

.tabContentHead,
.tabContentBody{
    @apply min-w-[600px];
}

.tabContentHeadItem,
.tabContentBodyItem{
    @apply flex gap-[20px] min-w-[600px];
}

.tabContentHeadItem p,
.tabContentBodyItem p{
    font-size: clamp(15px, 2vw, 20px);
    @apply flex-1 text-white px-5 py-2.5 flex text-center justify-center items-center gap-[20px] relative overflow-hidden;
}

.tabContentHeadItem img,
.tabContentBodyItem img{
    @apply max-w-[30px];
}

.tabContentHeadItem p:first-child,
.tabContentBodyItem p:first-child{
    @apply justify-center w-fit max-w-fit pr-0;
}

.tabContentHeadItem p:nth-child(2),
.tabContentBodyItem p:nth-child(2){
    @apply justify-start pl-0;
}

.tabContentBodyItem{
    @apply bg-seventh odd:bg-[#1E1825];
}

.tabContentBodyItem img{
    @apply rounded-sm;
}

.tabContentParent{
    @apply min-h-[500px] pt-0;
}

.tabContentTopParent{
    @apply pb-0;
}

/* .tabContentParent,
.tabContentTopParent{
    @apply max-w-[1600px] mx-auto;
} */

/* Pager */

.tabContentPager{
    @apply min-h-[50px] w-full flex justify-end bg-secondary rounded-b-md relative;
}

@media(max-width: 500px){
    .tabContentHeadItem p,
    .tabContentBodyItem p{
        @apply px-[10px] max-w-[80px];
    }
    .tabContentHeadItem p:first-child,
    .tabContentBodyItem p:first-child{
        @apply min-w-[25px] max-w-[25px] text-ellipsis whitespace-nowrap;
    }
    .tabContentHeadItem p:nth-child(2),
    .tabContentBodyItem p:nth-child(2){
        @apply min-w-[125px] max-w-[125px] text-ellipsis whitespace-nowrap;
    }
    .tabContentPager{
        @apply justify-center;
    }
}

/* Tab content top */

.tabContentTop{
    @apply  bg-seventh relative overflow-hidden rounded-md rounded-b-none;
}

.tabContentTopTitle{
    font-size: clamp(18px, 2vw, 24px);
    @apply bg-secondary w-full px-5 py-2.5 text-white flex justify-between items-center;
}

.tabContentTopTitle div{
    @apply flex gap-2;
}

.tabContentTopTitle button{
    @apply bg-seventh w-full max-w-[32.5px] min-w-[32.5px] min-h-[32.5px] rounded-full p-2;
}

.tabContentTopBlock{
    @apply flex justify-between items-center w-full px-5 py-5 gap-4;
}

.tabContentItem{
    @apply relative overflow-hidden min-h-[100px] min-w-[100px] bg-secondary rounded-full cursor-pointer;
}

.tabContentItem canvas{
    @apply absolute;
}

.tabContentItem p{
    @apply absolute text-white text-center w-full bg-tertiary bottom-[-1px] z-10 text-[14px];
}

.tabContentItem:first-child p{
    @apply font-medium text-yellow-300;
}

.tabContentItem:nth-child(2) p{
    @apply font-medium text-gray-600;
}

.tabContentItem:nth-child(3) p{
    @apply font-medium text-amber-800;
}

/* Tab modal */

.tabContentTopModal__card{
    @apply flex gap-[100px];
}

.tabContentTopModal__medal{
    @apply w-[20px];
}

.tabContentTopModal__crown{
    @apply w-[30px] absolute top-0;
}

.tabContentTopModal__3d{
    @apply relative pt-[20px] flex flex-col justify-center items-center w-[50%];
}

.tabContentTopModal__name{
    @apply absolute flex items-center gap-[5px] bg-tertiary bottom-[20px] px-[10px] py-[5px] text-white rounded-[5px] overflow-hidden;
}

.tabContentTopModal__info{
    @apply w-[50%];
}

.tabContentTopModal__info::before{
    @apply absolute w-[50%] h-full right-0 top-0 bg-[#1E1825] content-[""] z-[-1];
}

.tabContentTopModal__info__stats{
    @apply text-white text-[30px] uppercase text-center mb-[20px];
}

.tabContentTopModal__info p{
    @apply text-white bg-seventh mb-[10px] flex justify-between px-[10px] py-[5px] rounded-[5px] relative overflow-hidden;
}

.tabContentTopModal__info p img{
    @apply max-w-[20px] w-full absolute top-[-3px] opacity-40;
}

@media (max-width: 568px){
    .tabContentTopModal__card{
        @apply flex-col items-center gap-[20px];
    }
    .tabContentTopModal__info{
        @apply w-full;
    }
    .tabContentTopModal__info::before{
        @apply h-[200px] w-full bg-seventh;
    }
    .tabContentTopModal__info__stats{
        @apply hidden;
    }
}

/* Top 1 */

.tabTop1{
    @apply flex flex-col justify-center items-center capitalize w-full p-5;
}

.tabTop1__block{
    @apply flex gap-1 justify-center;
}

.tabTop1__title{
    @apply text-transparent text-[20px] font-bold inline-block bg-clip-text max-w-[125px] text-ellipsis whitespace-nowrap;
}

.tabTop1__info{
    @apply w-full;
}

