.tab{
    @apply flex flex-col relative justify-start pt-[80px];
}

/* Tab buttons */

.tabButtons{
    @apply w-full flex bg-tertiary z-10;
}

.tabButton{
    font-size:  clamp(18px, 1vw, 22px);
    transition: .5s ease all;
    @apply flex-1 flex justify-center items-center text-center min-h-[55px] text-white border;
}

.tabButton:hover,
.tabButtonActive{
    @apply bg-secondary;
}

@media(max-width: 768px){
    .tabButtons{
        @apply flex-col relative;
    }
    .tabButton{
        @apply border-l-0 border-r-0;
    }
    .tabButton:first-child,
    .tabButton:last-child{
        @apply border-l-0 border-r-0;
    }
    .tabButton:nth-child(odd){
        @apply border-l-0 ;
    }
}

/* Tab content */
.tabContent{
    @apply relative overflow-auto;
}

.tabContentTitle{
    font-size: clamp(25px, 3vw, 50px);
    @apply text-white text-center my-[60px];
}

.tabContentHeadItem{
    @apply bg-secondary rounded-t-[10px] min-h-[50px];
}

.tabContentHead,
.tabContentBody{
    @apply min-w-[400px];
}

.tabContentHeadItem,
.tabContentBodyItem{
    @apply flex gap-[20px] min-w-[400px];
}

.tabContentHeadItem p,
.tabContentBodyItem p{
    font-size: clamp(15px, 2vw, 20px);
    @apply flex-1 text-white px-[20px] py-[10px] flex text-center justify-center items-center gap-[20px] relative overflow-hidden;
}

.tabContentHeadItem img,
.tabContentBodyItem img{
    @apply max-w-[30px];
}

.tabContentHeadItem p:first-child,
.tabContentBodyItem p:first-child{
    @apply justify-start;
}

.tabContentBodyItem{
    @apply bg-seventh odd:bg-[#1E1825];
}

.tabContentBodyItem img{
    @apply rounded-[5px];
}

.tabContentParent{
    @apply min-h-[700px] max-w-[1500px] mx-auto;
}

/* Pager */

.tabContentPager{
    @apply min-h-[50px] w-full flex justify-end bg-secondary rounded-b-[10px];
}

@media(max-width: 500px){
    .tabContentHeadItem p,
    .tabContentBodyItem p{
        @apply px-[10px] max-w-[80px];
    }
    .tabContentHeadItem p:first-child,
    .tabContentBodyItem p:first-child{
        @apply min-w-[150px] max-w-[150px] text-ellipsis whitespace-nowrap;
    }
    .tabContentPager{
        @apply justify-center;
    }
}

/* Tab content top */

.tabContentTop{
    @apply my-[100px] mx-auto w-[90%] max-w-[1200px] pb-[100px] flex flex-wrap justify-between gap-[60px];
}

@media(max-width: 1200px){
    .tabContentTop{
        @apply justify-center;
    }
}

@media(max-width: 568px){
    .TabContentTopItem__splash{
        clip-path: none;
        @apply top-[unset] w-full h-[200px] rounded-[20px];
    }
    .TabContentTopItem__card{
        @apply h-[425px] w-[100%] max-w-[250px];
    }
}

/* Tab modal */

.TabContentTopModal{
}

.tabContentTopModal__card{
    @apply flex gap-[100px];
}

.tabContentTopModal__medal{
    @apply w-[20px];
}

.tabContentTopModal__crown{
    @apply w-[30px] absolute top-0;
}

.tabContentTopModal__3d{
    @apply relative pt-[20px] flex flex-col justify-center items-center w-[50%];
}

.tabContentTopModal__name{
    @apply absolute flex items-center gap-[5px] bg-tertiary bottom-[20px] px-[10px] py-[5px] text-white rounded-[5px];
}

.tabContentTopModal__info{
    @apply w-[50%];
}

.tabContentTopModal__info::before{
    @apply absolute w-[50%] h-full right-0 top-0 bg-[#1E1825] content-[""] z-[-1];
}

.tabContentTopModal__info__stats{
    @apply text-white text-[30px] uppercase text-center mb-[20px];
}

.tabContentTopModal__info p{
    @apply text-white bg-seventh mb-[10px] flex justify-between px-[10px] py-[5px] rounded-[5px] relative overflow-hidden;
}

.tabContentTopModal__info p img{
    @apply max-w-[20px] w-full absolute top-[-3px] opacity-40;
}

@media (max-width: 568px){
    .tabContentTopModal__card{
        @apply flex-col items-center gap-[20px];
    }
    .tabContentTopModal__info{
        @apply w-full;
    }
    .tabContentTopModal__info::before{
        @apply h-[200px] w-full bg-seventh;
    }
    .tabContentTopModal__info__stats{
        @apply hidden;
    }
}