.tab{
    @apply flex flex-col relative justify-start;
}

/* Tab buttons */

.tabButtons{
    @apply w-full flex bg-tertiary z-10;
}

.tabButton{
    font-size:  clamp(18px, 1vw, 22px);
    transition: .5s ease all;
    @apply flex-1 flex justify-center items-center text-center min-h-[55px] text-white border;
}

.tabButton:hover,
.tabButtonActive{
    @apply bg-secondary;
}

@media(max-width: 768px){
    .tabButtons{
        @apply flex-col relative;
    }
    .tabButton{
        @apply border-l-0 border-r-0;
    }
    .tabButton:first-child,
    .tabButton:last-child{
        @apply border-l-0 border-r-0;
    }
    .tabButton:nth-child(odd){
        @apply border-l-0 ;
    }
}

/* Tab content */
.tabContent{
    @apply relative overflow-auto;
}

.tabContentTitle{
    font-size: clamp(25px, 3vw, 50px);
    @apply text-white text-center my-[60px];
}

.tabContentHeadItem{
    @apply bg-secondary rounded-t-[10px] min-h-[50px];
}

.tabContentHead,
.tabContentBody{
    @apply min-w-[400px];
}

.tabContentHeadItem,
.tabContentBodyItem{
    @apply flex gap-[20px] min-w-[400px];
}

.tabContentHeadItem p,
.tabContentBodyItem p{
    font-size: clamp(15px, 2vw, 20px);
    @apply flex-1 text-white px-[20px] py-[10px] flex text-center justify-center items-center gap-[20px] relative overflow-hidden;
}

.tabContentHeadItem img,
.tabContentBodyItem img{
    @apply max-w-[30px];
}

.tabContentHeadItem p:first-child,
.tabContentBodyItem p:first-child{
    @apply justify-start;
}

.tabContentBodyItem{
    @apply bg-black border-t odd:bg-gray-800;
}

.tabContentParent{
    @apply min-h-[700px];
}

/* Pager */

.tabContentPager{
    @apply min-h-[50px] w-full flex justify-end bg-secondary border-t rounded-b-[10px];
}

@media(max-width: 500px){
    .tabContentHeadItem p,
    .tabContentBodyItem p{
        @apply px-[10px] max-w-[80px];
    }
    .tabContentHeadItem p:first-child,
    .tabContentBodyItem p:first-child{
        @apply min-w-[150px] max-w-[150px] text-ellipsis whitespace-nowrap;
    }
    .tabContentPager{
        @apply justify-center;
    }
}

/* Tab content top */

.tabContentTop{
    @apply my-[100px] mx-auto w-[90%] max-w-[1200px] pb-[100px] flex flex-wrap justify-between gap-[60px];
}

.TabContentTopItem{
    @apply overflow-hidden flex items-center justify-center relative pt-[20px] w-full max-w-[500px];
}

.TabContentTopItem__splash{
    clip-path: path("M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z");
    @apply absolute top-0 left-0 right-0 bottom-0 bg-secondary;
}

.TabContentTopItem__card{
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075), 0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075), 0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
    @apply  w-[300px] h-[430px] flex justify-center items-center rounded-[20px] bg-white flex-col;
}

.TabContentTopItem__position{
    @apply text-[25px] text-secondary font-medium absolute top-[5px] left-[5px];
}

.TabContentTopItem__name{
    @apply text-secondary font-medium;
}

.TabContentTopItem__medal{
    @apply absolute z-[-1] top-[-1px] w-full max-w-[50px];
}

@media(max-width: 1200px){
    .tabContentTop{
        @apply justify-center;
    }
}

@media(max-width: 568px){
    .TabContentTopItem__splash{
        clip-path: none;
        @apply top-[unset] w-full h-[200px] rounded-[20px];
    }
    .TabContentTopItem__card{
        @apply h-[425px] w-[100%] max-w-[250px];
    }
}